<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="flipkart Suite" parallel="none">
  <test name="FlipkartSmokeTesting">
  <classes>
			<class name="stepdefinition.FlipkartBaseclass" />
			<class name="runnerFlipkart.FlipkartRunner" />
		
  </classes>
  </test> 
</suite> 
